/* 
#aquariumpage {
  display: flex;
  align-items: center;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  padding: 115px 15px 25px;

}


section {
  margin-top: 25px;
}


table {
  margin-top: 25px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 9px;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #00968814;
}

#aquariumpage section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 45px;
}


#aquariumpage section>div {
  width: 80%;
}


#aquariumpage section>div:first-of-type {
  margin-bottom: 45px;
  margin-right: 45px;
}

.subtext {
  font-size: smaller;
}


/**/


/* :root{
--primary: #1d8cf8;
--secondary: #4f537b;
--info: #11cdef;
--success: #00bf9a;
--warning: #ff8d72;
--danger: #fd5d93;

--body-bg: #1e1e2f;
--timeline-before-bg : #222a42;
--timeline-body-bg: #27293d;
--timeline-body-round: 3px;
--timeline-body-shadow: 1px 3px 9px rgba(0,0,0, .1);
}



.container {
  font-family: 'K2D', sans-serif;
  letter-spacing: 1px;
  max-width: 650px;
  margin: 50px auto;
  color: black;
}

p {
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
    opacity: .8;
} */

/* .timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 30px;
    color: white;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background: var(--timeline-body-bg);
    }

    .timeline-container {
        position: relative;
        margin-bottom: 2.5rem;;

        .timeline-icon {
            position: absolute;
            left: -88px;
            top: 4px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            text-align: center;
            font-size: 2rem;
            background: var(--secondary);

            i {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .timeline-body {
            background: var(--timeline-body-bg);
            border-radius: var(--timeline-body-round);
            padding: 20px 20px 15px;
            box-shadow: var(--timeline-body-shadow);

            &:before {
                content: '';
                background: inherit;
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                left: -10px;
                transform: rotate(45deg);
                border-radius: 0 0 0 2px;
            }

            .timeline-title {
                margin-bottom: 1.4rem;

                .badge {
                    background: var(--secondary);
                    padding: 4px 8px;
                    border-radius: 3px;
                    font-size: 12px;
                    font-weight: bold;
                }
            }

            .timeline-subtitle {
                font-weight: 300;
                font-style: italic;
                opacity: .4;
                margin-top: 16px;
                font-size: 11px;
            }
        }

        &.primary {
            .badge,
            .timeline-icon {
                background: var(--primary) !important;
            }
        }

        &.info {
            .badge,
            .timeline-icon {
                background: var(--info) !important;
            }
        }

        &.success {
            .badge,
            .timeline-icon {
                background: var(--success) !important;
            }
        }

        &.warning {
            .badge,
            .timeline-icon {
                background: var(--warning) !important;
            }
        }

        &.danger {
            .badge,
            .timeline-icon {
                background: var(--danger) !important;
            }
        }

    }
} */


/* .author {
	font-family: inherit;
	padding: 3em;
	text-align: center;
	width: 100%;
		color: white;
 
	a:link,
	a:visited{
		color: white;
		&:hover{
			text-decoration: none;
		}
	}
	.btn:link,
	.btn:visited{
		margin-top: 1em;
		text-decoration: none;
		display: inline-block;
		font-family: inherit;
		font-weight: 100;
		color: white;
		text-align: center;
		vertical-align: middle;
		user-select: none;
		background-color: black;
		padding: 1.5em 2rem;
		border-radius: 1em;
		transition: .5s all;
		&:hover,
		&:focus,
		&:active{
			background-color: lighten(black, 10%);
		}
	} 
} */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0b3c4d;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

