.blog-post {
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 20px;
}

.blog-post-date {
  font-style: italic;
  color: #888;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #ebf7fd;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-size: 12px;
  color: grey;
}

